{% extends 'blog/base.html' %}

{% block content%}
    <div class ="alert alert-danger" role="banner">
        <center>
            Alpacadmin broke this page..
        </center>
    </div>

    <div class ="alert alert-primary" ">
        <center>
            <h3>..To be updated..</h3>
        <p class='text-muted'>some features to be added by alpacaddmin.
          <ul class="list-group">
            <li class="list-group-item list-group-item-light">Latest Posts Notification toggle </li>
            <li class="list-group-item list-group-item-light">Announcements</li>
            <li class="list-group-item list-group-item-light">chat box?</li>
            <li class="list-group-item list-group-item-light">Post likes counter</li>
            <li class="list-group-item list-group-item-light">and many more..</li>
          </ul>
        </p>
        </center>
        
      </div>
    </div>

    

    
{% endblock content %}
